<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=localhost;Initial Catalog=SchoolDatabase;Trusted_Connection=True;"
         name="Achi"/>
  </connectionStrings>

  <appSettings>
    <add key="maxAbsences" value="10"/>
  </appSettings>
</configuration>